:root{
    box-sizing: border-box;
    font-family: sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


img {
    height: 26px;
}

.dashboard img {
    filter: invert(100%) sepia(13%) saturate(0%) hue-rotate(42deg) brightness(118%) contrast(100%);
}

.logo {
    font-size: 27px;
    margin-left: -10px;
}

.logo img {
    height: 50px;
}

.dashboard {
    background-color: #25476A;
    color: white;

    font-size: 18px;

    padding: 17px;
}

.dashboard div {
    margin-left: 13px;
}

.header {
    background-color: #F6E96B;
}

.card {
    height: 200px;
    width: 300px;
    background-color: #387F39;
    border: 1px solid black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dashboard {
    grid-area: 1 / 1 / 3 / 2;
}

.header {
    grid-area:  1 / 2 / 2 / 3;
}

.cards {
    grid-area: 2 / 2 / 3 / 3;
}

.nav div, .logo, .user-support div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.nav, .user-support {
    display: flex;
    flex-direction: column;
    gap: 20px;
}